body {
    margin:0px;
    padding: 0px;
    background-color:#F2F2F2;
    font-family:Arial, sans-serif;
    font-size:100%;
}

.header { height: 120px;
    background-color: #086A87;
    }

.header-container img{
    background-color: #086A87;
    margin-left: 180px;
    margin-top: 15px;
   
}

.container {
    margin:0 auto;
    width:960px;
    }

.container a{
    text-decoration: none;
    color:black;
}

.container h3{
   color:black;  
}

.container ul {margin:0px;
    padding: 0px;
}

.container ul li{
     list-style-type: none;
}


.collection-text p{
    font-size: 13px;
    line-height: 1.3em;
      font-family: Georgia, 'Times New Roman', Times, serif;
}

.page-navigation {
    background-color:black;
    min-height:64px;
    border-bottom: 5px solid darkgray;

    
}
.page-navigation li{
float:left;
width:100px;
/*border-right: 1px dashed gray;*/

}
.page-navigation a {
    display:block;
    color:gray;
    line-height:4em;
    font-weight:bold;
    text-align:center;


}
.page-navigation li a:hover{
color:black;
background-color: #F7D358;
border-top: 5px solid darkgray;
animation-name: stretching;
animation-duration: 0.3s;
height: 59px;

}


@keyframes stretching {
    0% {
        border-top: 0px solid #F7D358;

    }
    100% {
        border-top: 5px solid darkgray;

    }
}


.search{
    padding: 20px 0px;
    float: right;
}
.search input[type="text"],
.search input[type="search"]{
    padding: 5px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius:5px;
    outline: none;


}
.search input[type="submit"]{
    padding: 5px 15px;
    border:1px solid gray;
    border-radius: 5px;

}
.search input[type="submit"]:hover
{
    background-color: #848484;
    color:white;

}

.collections {
    overflow: auto;
    width: 70%;
    margin-bottom: 30px;

   
}


.collection-title {
    padding-bottom: 5px;
    border-bottom: 1px solid darkgray;

}
.collection-title small{
    color:darkgray;
    font-size: 63%;
}

.collection-item-outer {
    width: 100%;
    box-sizing:border-box;



}
.collections > div:first-child{
    margin-bottom: 0px;
}
.collections > div:last-child{
margin-bottom: 0px;
}
.collection-item {
    border:1px solid darkgray;
    background-color: white;
    height: 180px;


    
}
.collection-item img
 {
    width: 30%;
    float:right;
    margin-top: 20px;
    margin-right: 20px;
   }


.collection-text  li{
    padding: 40px 20px 20px 0px;
    list-style-type: disc;
    margin-left: 30px;
    
 }

.collection-text h4 {
   color:#04B404;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.collection-text ul {
    font-size: 110%;
    margin-left: 20px;
    max-height: 80px;
     text-indent: 20px;
      overflow: visible;
}
.sidebar{
    width:260px;
    height:195px;
    position:absolute;
    left:895px;
    top:333px;
    border: 1px solid white;
    background-color:#F2F2F2;
    box-shadow: 1px 1px 2px #086A87, 0 0 0.3em gray;

}
 
.sidebar img {
   float:right;
   margin-top: -69px;

} 

.sidebar p {
     color:white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 16px;
    padding: 15px 10px 18px 10px;
    text-shadow: 1px 1px 2px #086A87, 0 0 0.3em gray;
}
.community,
.community2{display: block;
    height: 51px;
    background-color: #45668e;
    margin-top: -16px;
}


.footer {
    background-color: #F7D358;
    padding: 15px 0;
    margin-top: 30px;
}

.footer .container {
    font-size: 13px;
    line-height: 1.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
